@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .borda {
        border: 1px solid #00BFFF;
        border-radius: 15px;
        padding: 20px;
        brackground-color: #0000CD
    }

    .centraliza{
        text-align: center;
    }
</style>

<div class="borda centraliza">
    <h3>Bem vindo ao Curso ASP.NET!</h3>
</div>
<h4>Aproveite o conteúdo!</h4>
<ul>
    <li>ASP.NET MVC</li>
    <li>Entity Framework</li>
    <li>ASP.NET CORE</li>
    <li>E muito mais!!!</li>
</ul>

<hr />
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<hr />

